# Local environment variables (IMPORTANT)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel folders
.vercel

# Dependency folders
node_modules/

# OS metadata
.DS_Store
Thumbs.db
